@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-gray-100 text-2xl;
    -webkit-font-smoothing: antialiesed;
}

.scrollbar-thin {
    scrollbar-width: thin;
}

.scrollbar-thumb-rounded {
    scrollbar-color: #4A5568 #2D3748;
    scrollbar-width: thin;
}

.scrollbar-thumb-rounded::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-track {
    background: #2D3748;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    background-color: #4A5568;
    border-radius: 10px;
    border: 2px solid #2D3748;
}